Repository VeritasTrial/ac215_VeritasTrial, pull requests merged in 2024-10, with the labels that each got.

#2 data: set up data fetching pipeline
  .gitignore
  src/data-pipeline/Dockerfile
  src/data-pipeline/Makefile
  src/data-pipeline/Pipfile
  src/data-pipeline/Pipfile.lock
  src/data-pipeline/README.md
  src/data-pipeline/clean.py
  src/data-pipeline/cli.py
  src/data-pipeline/fetch.py
  src/data-pipeline/shared.py
  src/data-pipeline/upload.py
Labels: data-pipeline

#3 embedding: set up embedding model pipeline
  src/embedding-model/Dockerfile
  src/embedding-model/Makefile
  src/embedding-model/Pipfile
  src/embedding-model/Pipfile.lock
  src/embedding-model/README.md
  src/embedding-model/cli.py
  src/embedding-model/embed.py
  src/embedding-model/shared.py
  src/embedding-model/store.py
  src/embedding-model/upload.py
Labels: embedding-model

#5 embedding: retrieval test and evaluation
  src/embedding-model/Pipfile
  src/embedding-model/Pipfile.lock
  src/embedding-model/README.md
  src/embedding-model/cli.py
  src/embedding-model/embed.py
  src/embedding-model/eval.py
  src/embedding-model/query.py
  src/embedding-model/shared.py
  src/embedding-model/store.py
Labels: embedding-model

#7 finetune: create model finetuning pipeline
  src/finetune-model/Dockerfile
  src/finetune-model/Makefile
  src/finetune-model/Pipfile
  src/finetune-model/Pipfile.lock
  src/finetune-model/README.md
  src/finetune-model/chat.py
  src/finetune-model/cli.py
  src/finetune-model/prepare.py
  src/finetune-model/shared.py
  src/finetune-model/train.py
Labels: finetune-model
